@model IEnumerable<Pizzeria.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
}

<div class="divform">
<h1>Ingredienti</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoIngrediente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoIngrediente)
            </td>
            <td class="text-decoration-none">
                <a asp-action="Edit" asp-route-id="@item.IdIngrediente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdIngrediente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIngrediente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
